@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@plugin 'tailwind-scrollbar';

@theme {
  --font-sans: "Fira Sans Condensed", sans-serif;
  --font-cursive: "Petit Formal Script", cursive;
  --container-8xl: 120rem;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --ui-bg: var(--ui-color-neutral-100);
  --ui-container: var(--container-8xl);
  --ui-bg-elevated: var(--ui-color-neutral-300);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-elevated: var(--ui-color-neutral-800);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hover-link {
  @apply bg-linear-to-r bg-bottom bg-[length:0_1px] bg-no-repeat transition-[background-size] hover:bg-[length:100%_1px] w-fit duration-500 cursor-pointer;
}

.default-link {
  @apply text-muted from-(--ui-text-muted) to-(--ui-text-muted);
}

.primary-link {
  @apply text-primary from-primary to-primary;
}
